body{
    background: url("../img/cielo.jpg");
    background-attachment: fixed;
    color: black;
}
.container{
    background: white;
}
footer{ 
    background: rgba(192, 192, 192, 0.7);     
}
article span{
    color: rgb(68, 68, 68);
}
.card{
    background: white;
}
.card-body h4, label, input{
    color:black;
}
#arrow-up{
    color:black;
    display: block;
    float: right;
}